/*---Login---*/

.container {
    display: flex;
    height: 100vh;
}

.left {
    /* flex: 1; */
    background-color: #ececec;

    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    flex: 1;
    background-color: #fff;
    height: 100%;
    width: 60%;
}

.img-logo {
    width: 170px;
    height: 136px;
    margin: 62px 0 0 0;
}

.img-logo2 {
    width: 580px;
    height: 594.06px;
    margin-top: 7vh;
    margin-left: 13vh;
}

.image-text1 {
    position: absolute;
    top: 47%;
    left: 50%;
    color: #ff7506;
    font-size: 34px;
    font-weight: normal;
    line-height: 51px;
    margin-left: 310px;
}

.image-text2 {
    position: absolute;
    top: 54%;
    left: 50%;
    color: #ff7506;
    margin-left: 310px;
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
}

.button .text-button {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
}

.forgotPass-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #e73f3f;
    text-decoration: none;
}

.text-input {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #37474f;
}

.text-button-login {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

/* Sider */

:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: white;
    background-color: #ff7506;
}

/*---Auth Email---*/

.authEmail-text {
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 0em;
    color: #282739;
    margin-bottom: 10px;
    text-align: center;
}

.img-logo3 {
    margin-top: 10vh;
    margin-left: 3vw;
}

/*---Trang chủ---*/

.text-hello {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #7e7d88;
}

.text-capso {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
}

.number-dashboard {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
    margin: 20px 0 0 12px;
}

.title-chart {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px 0 0 20px;
}

.title-dropdown {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 8px 0 0;
}

.date-chart {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #a9a9b0;
    margin: 0 0 0 20px;
}

/* Sider */

.sider {
    height: 100vh;
    width: 200px;
}

/* Sider.css */
.menu-width {
    width: 100%;
}

.icon-menu-sider {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    vertical-align: middle;
    color: #a9a9b0;
}

.text-menu {
    vertical-align: middle;
}

.icon-button-sider {
    height: 20px;
    width: 20px;
    margin-right: 12px;
    vertical-align: middle;
    color: #ff7506;
    font-weight: 600;
}

.text-button-sider {
    color: #ff7506;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    vertical-align: middle;
}

.button-sider {
    background-color: #ff7506;
    border-color: #fff2e7;
    height: 48px;
    width: 176px;
}

:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light > .ant-menu .ant-menu-item-selected {
    background-color: #ff7506;
}

:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light > .ant-menu .ant-menu-item-selected {
    color: #ffffff;
}

.text-header-content {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin: 24px 0 24px 24px;
}

.title2-dashboard {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin: 0 0 16px 24px;
}

.number-percent {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
}

.text-percent {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
}

.icon-wrapper {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 79px;
    padding: 6px;
}

.test {
    color: rgb(251, 247, 247);
}

.icon-wrapper-information {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 748px;
    padding: 6px;
}

.icon-dashboard01-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #e1f3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    padding: 12px;
}

.icon-dashboard02-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #dbf8d2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    padding: 12px;
}

.icon-dashboard03-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #f7ebd4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    padding: 12px;
}

.icon-dashboard04-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #f8dbd9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    padding: 12px;
}

/* Information */

.text-name-right {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
}

.text-menu-under {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #282739;
}

.text-change-input {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #282739;
}

/* Thiết bị */

.icon-wrapper-thietbi {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 638px;
    padding: 6px;
}

.text-first-head {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #7e7d88;
}

/* Add */

.icon-wrapper-thietbi-add {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 473px;
    padding: 6px;
}

.text-add-header-content {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin: 24px 0 24px 0;
}

.text-add-content {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin: 16px 0 10px 0;
}

.text-add-required {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #7e7d88;
}

/* Chi tiết */

.icon-wrapper-thietbi-detail {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24.5px 0 457px;
    padding: 6px;
}

.icon-wrapper-thietbi-update {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24.5px 0 441px;
    padding: 6px;
}

.text-detail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
}

.title-select-thietbi {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #282739;
}

.text-add-button {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #ff7506;
}

/* Dịch vụ  */

.icon-wrapper-dichvu {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 641px;
    padding: 6px;
}

.icon-wrapper-dichvu-add {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 477px;
    padding: 6px;
}

.icon-wrapper-dichvu-update {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 414.5px;
    padding: 6px;
}

.icon-wrapper-dichvu-detail {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 536px;
    padding: 6px;
}

.text-add-dichvu {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
}

.text-detail-dichvu {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin: 0 0 10px 0;
}

/* Dropdown */

:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item:hover,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-active,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active,
:where(.css-dev-only-do-not-override-19gw05y).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active {
    background-color: #fff2e7;
}

/* Cấp số  */

.icon-wrapper-capso-add {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 515px;
    padding: 6px;
}

.icon-wrapper-capso {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 657px;
    padding: 6px;
}

.icon-wrapper-thietbi-add {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24.5px 0 473px;
    padding: 6px;
}

.text-add-capso-header {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin-top: 24px;
}

.text-add-capso {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
}

/* Modal */

.text-title-modal-capso {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
}

.number-title-modal-capso {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
}

.text1-DV-capso {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.text2-DV-capso {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.text-time-modal-capso {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

:where(.css-dev-only-do-not-override-19gw05y).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 0;
}

.icon-wrapper-capso-detail {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24.5px 0 541px;
    padding: 6px;
}

/* Báo cáo  */

.icon-wrapper-baocao {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 693px;
    padding: 6px;
}

.title2-baocao {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #282739;
}

.title-baocao {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #282739;
    margin-left: 24px;
}

/* Cài đặt  */

.icon-wrapper-caidat {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 589px;
    padding: 6px;
}

.custom-search-input .ant-input-search-button {
    display: none;
}

/* Quản lí vai trò */

.icon-wrapper-vaitro-add {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 431px;
    padding: 6px;
}

.text-add-vaitro {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff7506;
    margin: 10px 0 0 24px;
}

.text-checkbox {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
    margin: 0 0 12px 15px;
}

.text-checkbox-detail {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #535261;
    margin: 0 0 12px 0;
}

.icon-wrapper-vaitro-update {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 399.5px;
    padding: 6px;
}

/* Nhật ký người dùng */

.icon-wrapper-nhatky {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 545px;
    padding: 6px;
}

/* Quản lí tài khoản */

.icon-wrapper-quanlitaikhoan {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 562px;
    padding: 6px;
}

.icon-wrapper-taikhoan-add {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 377px;
    padding: 6px;
}

.icon-wrapper-taikhoan-update {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 0 345px;
    padding: 6px;
}

/* Table */

.custom-table .ant-table-thead > tr > th {
    background-color: #ff9138;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.custom-table .ant-table-tbody > tr:nth-child(even) {
    background-color: #fff2e7; /* Màu nền cho dòng chẵn */
}

.custom-table .ant-table-tbody > tr:nth-child(odd) {
    background-color: #ffffff; /* Màu nền cho dòng lẻ */
}

/* table.css */
.ant-table-tbody > tr > td {
    border-right: 1px solid #f5e3cd;
}

/* table.css */
/* Thêm gạch chia cột từ CSS của bạn */
.ant-table-thead th {
    border-right: 1px solid #e8e8e8 !important;
    height: 3rem; /* Điều chỉnh độ cao của dòng */
    line-height: 3rem; /* Điều chỉnh chiều cao của vùng chứa nội dung */
}
:where(.css-dev-only-do-not-override-19gw05y).ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-dev-only-do-not-override-19gw05y).ant-table-wrapper
    .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: fixed;
    width: 1px;
    height: 1.6em;
    background-color: #ffffff;
    transform: translateY(-50%);
}

/* Popover */
.expanded-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid #ff7506; /* Màu viền cam */
    border-radius: 10px; /* Độ cong viền */
    padding: 10px;
    z-index: 1;
    width: 395px;
    white-space: pre-line;
    word-wrap: break-word;
    overflow: auto;
    max-height: calc(100vh - 20px);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.expanded-content.show {
    display: block;
    opacity: 1;
}

/* custom.css */

.ant-menu-light .ant-menu-title:hover {
    background-color: orange; /* Màu nền khi hover vào SubMenu */
}

.custom-submenu:hover {
    background-color: orange; /* Màu nền khi hover vào SubMenu */
}

:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-19gw05y).ant-menu-light > .ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
    background-color: #fff2e7;
}

/* custom.css */

.submenu-open {
    display: block !important; /* Hiển thị SubMenu khi nó được mở */
}
